@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #ecf0f1;
    font-family: Lato;
}
button  {
    border: 0px;
    height: 40px;
    width: 85px;
    margin: 5px;
    background: #e74c3c;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;

}
form {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=text] {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px;
}
#notify-back {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    z-index: -9999999999999;
}
.notify {
    background: #2ecc71;
    height: 75px;
    color:white;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 300px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px #b9bfc5
}